In [1]:
# import libraries
from performance_metrics import *
from sklearn.preprocessing import MinMaxScaler

# CAC 40

In [2]:
STOCK_NAME = "CAC 40"
STOCK_NAME_edited = "**CAC 40**"
NAME = "RANDOM_SEARCH_1"
PATH_STOCK_NAME = f'CAC/Sensitivity Analysis/{NAME}'

df_EC_ARIMA_LO_BM = pd.read_csv(f'../ARIMA/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LO_BM = pd.read_csv(f'../LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LO_BM = pd.read_csv(f'../ARIMA-LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')

df_EC_ARIMA_LS_BM = pd.read_csv(f'../ARIMA/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')
df_EC_LSTM_LS_BM = pd.read_csv(f'../LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')
df_EC_ARIMA_LSTM_LS_BM = pd.read_csv(f'../ARIMA-LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')

In [3]:
df_perf_metr_LO = performance_metrics("**Long Only**", df_EC_ARIMA_LSTM_LO_BM, df_EC_ARIMA_LO_BM, df_EC_LSTM_LO_BM, df_EC_ARIMA_LSTM_LO_BM, STOCK_NAME_edited)

In [4]:
df_perf_metr_LS = performance_metrics("**Long Short**", df_EC_ARIMA_LSTM_LS_BM, df_EC_ARIMA_LS_BM, df_EC_LSTM_LS_BM, df_EC_ARIMA_LSTM_LS_BM, STOCK_NAME_edited)

In [5]:
df_perf_metr_LO

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Only**,,,,,,,
,**CAC 40**,3.52,21.44,59.16,14.04,16.43,0.98
,ARIMA,-4.38,**15.14**,65.53,16.5,0,0
,LSTM,3.12,16.1,**42.35**,**5.38**,19.4,1.43
,LSTM-ARIMA,**5.02**,15.43,53.65,8.33,**32.52**,**3.04**

In [6]:
df_perf_metr_LS

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,,,,,,,
,**CAC 40**,3.52,21.44,59.16,14.04,16.43,0.98
,ARIMA,-1.81,**21.43**,72.02,14.95,0,0
,LSTM,3.56,21.44,60.73,9.01,16.59,0.97
,LSTM-ARIMA,**11.06**,**21.43**,**39.91**,**2.91**,**51.6**,**14.29**

In [7]:
STOCK_NAME_FOLDER = f'./PERF_METR_RESULTS/{STOCK_NAME}/{NAME}'

import os
if not os.path.exists(STOCK_NAME_FOLDER):
    os.makedirs(STOCK_NAME_FOLDER)

df_perf_metr_LO.to_csv(f'{STOCK_NAME_FOLDER}/df_perf_metr_LO.csv')
df_perf_metr_LS.to_csv(f'{STOCK_NAME_FOLDER}/df_perf_metr_LS.csv')

# Sensitivity Analysis - LSTM

In [8]:
STOCK_NAME = "CAC 40"

df_EC_LSTM_LO_BM = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_BM = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_LSTM_LO_SENS_0 = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_LSTM_LS_SENS_0 = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_LSTM_LO_SENS_0A = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_LSTM_LS_SENS_0A = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_1 = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_1 = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_1A = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_1A = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_2 = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_2 = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_2A = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_2A = pd.read_csv(f'../LSTM/Results/CAC/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LS_MAIN.csv')

In [9]:
df_perf_metr_LO_LSTM = performance_metrics_SENS("**Long Only**", 
                                                df_EC_LSTM_LO_BM, 
                                                df_EC_LSTM_LO_BM, 
                                                # df_EC_LSTM_LO_SENS_0,
                                                # df_EC_LSTM_LO_SENS_0A,
                                                df_EC_LSTM_LO_SENS_1, 
                                                df_EC_LSTM_LO_SENS_1A, 
                                                df_EC_LSTM_LO_SENS_2, 
                                                df_EC_LSTM_LO_SENS_2A,
                                                STOCK_NAME_edited,
                                                'Panel I', 'Panel J')

In [10]:
df_perf_metr_LS_LSTM = performance_metrics_SENS_LS("**Long Short**", 
                                                df_EC_LSTM_LS_BM, 
                                                df_EC_LSTM_LS_BM, 
                                                # df_EC_LSTM_LS_SENS_0,
                                                # df_EC_LSTM_LS_SENS_0A,
                                                df_EC_LSTM_LS_SENS_1, 
                                                df_EC_LSTM_LS_SENS_1A, 
                                                df_EC_LSTM_LS_SENS_2, 
                                                df_EC_LSTM_LS_SENS_2A,
                                                STOCK_NAME_edited,
                                                'Panel K', 'Panel L')

In [11]:
df_perf_metr_LO_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
&nbsp;,**CAC 40**,3.52,21.44,59.16,14.04,16.43,0.98
&nbsp;,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case (Dropout = 0.075),3.12,16.1,42.35,**5.38**,19.4,1.43
**Panel I: Dropout Rate**,Dropout = 0.05,**5.62**,16.79,**34.96**,5.52,**33.48**,**5.38**
,Dropout = 0.1,2.71,**14.56**,42.18,8.49,18.62,1.2
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel J: Batch Size**,Base Case (Batch Size = 32),3.12,16.1,42.35,5.38,19.4,1.43
,Batch Size = 16,3.22,**13.91**,**33.09**,4.06,**23.13**,**2.25**
,Batch Size = 64,**3.69**,16.98,40.42,**3.6**,21.74,1.99
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_perf_metr_LS_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case (Dropout = 0.075),**3.56**,21.44,**60.73**,9.01,**16.59**,**0.97**
**Panel K: Dropout Rate**,Dropout = 0.05,-1.34,**21.43**,65.66,**8.49**,0.0,0.0
,Dropout = 0.1,1.75,21.44,66.37,**8.49**,8.16,0.22
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel L: Batch Size**,Base Case (Batch Size = 32),3.56,21.44,60.73,9.01,16.59,0.97
,Batch Size = 16,-1.5,21.46,55.1,12.72,0.0,0.0
,Batch Size = 64,**3.82**,**21.43**,**47.78**,**3.35**,**17.85**,**1.43**
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_perf_metr_LO_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_LSTM.csv')
df_perf_metr_LS_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_LSTM.csv')

# Sensitivity Analysis - ARIMA-LSTM

In [14]:
STOCK_NAME = "CAC 40"

df_EC_ARIMA_LSTM_LO_BM = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_BM = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LSTM_LO_SENS_0 = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LSTM_LS_SENS_0 = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LSTM_LO_SENS_0A = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LSTM_LS_SENS_0A = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_1 = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_1 = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_1A = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_1A = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_2 = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_2 = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_2A = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_2A = pd.read_csv(f'../ARIMA-LSTM/Results/CAC/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LS_MAIN.csv')

In [15]:
df_perf_metr_LO_ARIMA_LSTM = performance_metrics_SENS("**Long Only**", 
                                                      df_EC_ARIMA_LSTM_LO_BM, 
                                                      df_EC_ARIMA_LSTM_LO_BM, 
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0,
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0A,
                                                      df_EC_ARIMA_LSTM_LO_SENS_1, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_1A, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_2, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_2A, 
                                                      STOCK_NAME_edited,
                                                      'Panel I', 'Panel J')

In [16]:
df_perf_metr_LS_ARIMA_LSTM = performance_metrics_SENS_LS("**Long Short**", 
                                                      df_EC_ARIMA_LSTM_LS_BM, 
                                                      df_EC_ARIMA_LSTM_LS_BM, 
                                                    #   df_EC_ARIMA_LSTM_LS_SENS_0,
                                                    #   df_EC_ARIMA_LSTM_LS_SENS_0A,
                                                      df_EC_ARIMA_LSTM_LS_SENS_1, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_1A, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_2, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_2A, 
                                                      STOCK_NAME_edited,
                                                      'Panel K', 'Panel L')

In [17]:
df_perf_metr_LO_ARIMA_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
&nbsp;,**CAC 40**,3.52,21.44,59.16,14.04,16.43,0.98
&nbsp;,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case (Dropout = 0.075),**5.02**,15.43,53.65,8.33,**32.52**,**3.04**
**Panel I: Dropout Rate**,Dropout = 0.05,2.55,**15.34**,**33.09**,**4.24**,16.61,1.28
,Dropout = 0.1,0.21,16.86,51.01,7.47,1.23,0.01
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel J: Batch Size**,Base Case (Batch Size = 32),**5.02**,**15.43**,53.65,**8.33**,**32.52**,**3.04**
,Batch Size = 16,-0.61,17.15,56.9,15.95,0.0,0.0
,Batch Size = 64,-0.95,15.78,**45.06**,16.98,0.0,0.0
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_perf_metr_LS_ARIMA_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case (Dropout = 0.075),**11.06**,**21.43**,39.91,**2.91**,**51.6**,**14.29**
**Panel K: Dropout Rate**,Dropout = 0.05,8.64,21.44,**32.86**,3.09,40.31,10.6
,Dropout = 0.1,5.7,21.44,39.43,7.27,26.57,3.84
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel L: Batch Size**,Base Case (Batch Size = 32),**11.06**,**21.43**,**39.91**,**2.91**,**51.6**,**14.29**
,Batch Size = 16,2.4,21.46,48.23,9.01,11.19,0.56
,Batch Size = 64,-0.89,21.44,65.76,12.72,0.0,0.0
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_perf_metr_LO_ARIMA_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_ARIMA_LSTM.csv')
df_perf_metr_LS_ARIMA_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_ARIMA_LSTM.csv')

# Sensitivity Analysis - ARIMA

In [20]:
STOCK_NAME = "CAC 40"

df_EC_ARIMA_LO_BM = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_BM = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/RANDOM_SEARCH_1/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LO_SENS_0 = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LS_SENS_0 = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LO_SENS_0A = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LS_SENS_0A = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LO_SENS_B = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_B/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_SENS_B = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_B/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LO_SENS_C = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_C/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_SENS_C = pd.read_csv(f'../ARIMA/Results/CAC/Sensitivity Analysis/SENS_C/Visualisations/df_EC_LS_MAIN.csv')

In [21]:
df_perf_metr_LO_ARIMA = performance_metrics_SENS_ARIMA("**Long Only**", 
                                                      df_EC_ARIMA_LO_BM, 
                                                      df_EC_ARIMA_LO_BM, 
                                                    #   df_EC_ARIMA_LO_SENS_0,
                                                    #   df_EC_ARIMA_LO_SENS_0A,
                                                      df_EC_ARIMA_LO_SENS_B, 
                                                      df_EC_ARIMA_LO_SENS_C, 
                                                      STOCK_NAME_edited)

In [22]:
df_perf_metr_LS_ARIMA = performance_metrics_SENS_ARIMA_LS("**Long Short**", 
                                                      df_EC_ARIMA_LS_BM, 
                                                      df_EC_ARIMA_LS_BM, 
                                                    #   df_EC_ARIMA_LS_SENS_0,
                                                    #   df_EC_ARIMA_LS_SENS_0A,
                                                      df_EC_ARIMA_LS_SENS_B, 
                                                      df_EC_ARIMA_LS_SENS_C, 
                                                      STOCK_NAME_edited)

In [23]:
df_perf_metr_LO_ARIMA

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
,**CAC 40**,3.52,21.44,59.16,14.04,16.43,0.98
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case,**-4.38**,15.14,**65.53**,**16.5**,**0.0**,**0.0**
,"Order Range = {0-3,1,0-3}",-5.62,15.1,73.12,**16.5**,**0.0**,**0.0**
,Information Criterion = BIC,-4.95,**15.07**,69.27,**16.5**,**0.0**,**0.0**
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_perf_metr_LS_ARIMA

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case,**-1.81**,**21.43**,**72.02**,**14.95**,**0.0**,**0.0**
,"Order Range = {0-3,1,0-3}",-4.35,**21.43**,82.97,**14.95**,**0.0**,**0.0**
,Information Criterion = BIC,-2.97,**21.43**,77.67,**14.95**,**0.0**,**0.0**
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_perf_metr_LO_ARIMA.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_ARIMA.csv')
df_perf_metr_LS_ARIMA.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_ARIMA.csv')