In [1]:
# import libraries
from performance_metrics import *
from sklearn.preprocessing import MinMaxScaler

# S&P 500

In [2]:
STOCK_NAME = "S&P 500"
STOCK_NAME_edited = "**S&P 500**"
NAME = "RANDOM_SEARCH_1"
PATH_STOCK_NAME = f'S&P500/Sensitivity Analysis/{NAME}'

df_EC_ARIMA_LO_BM = pd.read_csv(f'../ARIMA/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LO_BM = pd.read_csv(f'../LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LO_BM = pd.read_csv(f'../ARIMA-LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LO_MAIN.csv')

df_EC_ARIMA_LS_BM = pd.read_csv(f'../ARIMA/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')
df_EC_LSTM_LS_BM = pd.read_csv(f'../LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')
df_EC_ARIMA_LSTM_LS_BM = pd.read_csv(f'../ARIMA-LSTM/Results/{PATH_STOCK_NAME}/Visualisations/df_EC_LS_MAIN.csv')

In [3]:
df_perf_metr_LO = performance_metrics("**Long Only**", df_EC_LSTM_LO_BM, df_EC_ARIMA_LO_BM, df_EC_LSTM_LO_BM, df_EC_ARIMA_LSTM_LO_BM, STOCK_NAME_edited)

In [4]:
df_perf_metr_LS = performance_metrics("**Long Short**", df_EC_LSTM_LO_BM, df_EC_ARIMA_LS_BM, df_EC_LSTM_LS_BM, df_EC_ARIMA_LSTM_LS_BM, STOCK_NAME_edited)

In [5]:
df_perf_metr_LO

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Only**,,,,,,,
,**S&P 500**,**7.52**,19.58,56.78,**1.65**,38.43,5.09
,ARIMA,1.89,14.45,46.73,8.45,13.07,0.53
,LSTM,3.26,13.14,41.83,9.8,24.83,1.94
,LSTM-ARIMA,4.32,**11.14**,**28.95**,1.67,**38.79**,**5.79**

In [6]:
df_perf_metr_LS

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,,,,,,,
,**S&P 500**,7.52,19.58,56.78,**1.65**,38.43,5.09
,ARIMA,8.66,**19.19**,**54.81**,8.44,45.11,7.13
,LSTM,6.71,19.59,59.44,13.16,34.27,3.87
,LSTM-ARIMA,**8.92**,19.58,56.62,3.44,**45.56**,**7.18**

In [7]:
STOCK_NAME_FOLDER = f'./PERF_METR_RESULTS/{STOCK_NAME}/{NAME}'

import os
if not os.path.exists(STOCK_NAME_FOLDER):
    os.makedirs(STOCK_NAME_FOLDER)

df_perf_metr_LO.to_csv(f'{STOCK_NAME_FOLDER}/df_perf_metr_LO.csv')
df_perf_metr_LS.to_csv(f'{STOCK_NAME_FOLDER}/df_perf_metr_LS.csv')

# Sensitivity Analysis - LSTM

In [8]:
STOCK_NAME = "S&P 500"

df_EC_LSTM_LO_BM = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/{NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_BM = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/{NAME}/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_LSTM_LO_SENS_0 = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_LSTM_LS_SENS_0 = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_LSTM_LO_SENS_0A = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_LSTM_LS_SENS_0A = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_1 = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_1 = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_1A = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_1A = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_2 = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_2 = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LS_MAIN.csv')

df_EC_LSTM_LO_SENS_2A = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_LSTM_LS_SENS_2A = pd.read_csv(f'../LSTM/Results/S&P500/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LS_MAIN.csv')

In [9]:
df_perf_metr_LO_LSTM = performance_metrics_SENS("**Long Only**", 
                                                df_EC_LSTM_LO_BM, 
                                                df_EC_LSTM_LO_BM, 
                                                # df_EC_LSTM_LO_SENS_0,
                                                # df_EC_LSTM_LO_SENS_0A,
                                                df_EC_LSTM_LO_SENS_1, 
                                                df_EC_LSTM_LO_SENS_1A, 
                                                df_EC_LSTM_LO_SENS_2, 
                                                df_EC_LSTM_LO_SENS_2A,
                                                STOCK_NAME_edited,
                                                'Panel A', 'Panel B')

In [10]:
df_perf_metr_LS_LSTM = performance_metrics_SENS_LS("**Long Short**", 
                                                df_EC_LSTM_LS_BM, 
                                                df_EC_LSTM_LS_BM, 
                                                # df_EC_LSTM_LS_SENS_0,
                                                # df_EC_LSTM_LS_SENS_0A,
                                                df_EC_LSTM_LS_SENS_1, 
                                                df_EC_LSTM_LS_SENS_1A, 
                                                df_EC_LSTM_LS_SENS_2, 
                                                df_EC_LSTM_LS_SENS_2A, 
                                                STOCK_NAME_edited,
                                                'Panel C', 'Panel D')

In [11]:
df_perf_metr_LO_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
&nbsp;,**S&P 500**,7.52,19.58,56.78,1.65,38.43,5.09
&nbsp;,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case (Dropout = 0.075),**3.26**,13.14,41.83,9.8,24.83,1.94
**Panel A: Dropout Rate**,Dropout = 0.05,0.79,12.68,39.43,4.94,6.24,0.13
,Dropout = 0.1,2.87,**11.4**,**33.93**,**4.86**,**25.2**,**2.13**
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel B: Batch Size**,Base Case (Batch Size = 32),3.26,13.14,41.83,9.8,24.83,1.94
,Batch Size = 16,**5.37**,**10.45**,**24.07**,**3.96**,**51.37**,**11.46**
,Batch Size = 64,2.42,10.94,38.72,11.77,22.14,1.39
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_perf_metr_LS_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case (Dropout = 0.075),6.71,**19.59**,59.44,13.16,34.27,3.87
**Panel C: Dropout Rate**,Dropout = 0.05,5.42,**19.59**,70.44,6.8,27.66,2.13
,Dropout = 0.1,**12.0**,**19.59**,**47.23**,**3.4**,**61.26**,**15.57**
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel D: Batch Size**,Base Case (Batch Size = 32),**6.71**,19.59,59.44,13.16,**34.27**,**3.87**
,Batch Size = 16,0.72,19.59,65.51,9.57,3.67,0.04
,Batch Size = 64,2.26,**19.58**,**53.48**,**8.23**,11.55,0.49
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_perf_metr_LO_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_LSTM.csv')
df_perf_metr_LS_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_LSTM.csv')

# Sensitivity Analysis - ARIMA-LSTM

In [14]:
STOCK_NAME = "S&P 500"

df_EC_ARIMA_LSTM_LO_BM = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/{NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_BM = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/{NAME}/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LSTM_LO_SENS_0 = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LSTM_LS_SENS_0 = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LSTM_LO_SENS_0A = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LSTM_LS_SENS_0A = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_1 = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_1 = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_1/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_1A = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_1A = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_1A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_2 = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_2 = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_2/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LSTM_LO_SENS_2A = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LSTM_LS_SENS_2A = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/SENS_2A/Visualisations/df_EC_LS_MAIN.csv')

In [15]:
df_perf_metr_LO_ARIMA_LSTM = performance_metrics_SENS("**Long Only**", 
                                                      df_EC_ARIMA_LSTM_LO_BM, 
                                                      df_EC_ARIMA_LSTM_LO_BM, 
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0,
                                                    #   df_EC_ARIMA_LSTM_LO_SENS_0A,
                                                      df_EC_ARIMA_LSTM_LO_SENS_1, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_1A, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_2, 
                                                      df_EC_ARIMA_LSTM_LO_SENS_2A, 
                                                      STOCK_NAME_edited,
                                                      'Panel A', 'Panel B')

In [16]:
df_perf_metr_LS_ARIMA_LSTM = performance_metrics_SENS_LS("**Long Short**", 
                                                      df_EC_ARIMA_LSTM_LS_BM, 
                                                      df_EC_ARIMA_LSTM_LS_BM, 
                                                    #   df_EC_ARIMA_LSTM_LS_SENS_0,
                                                    #   df_EC_ARIMA_LSTM_LS_SENS_0A,
                                                      df_EC_ARIMA_LSTM_LS_SENS_1, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_1A, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_2, 
                                                      df_EC_ARIMA_LSTM_LS_SENS_2A, 
                                                      STOCK_NAME_edited,
                                                      'Panel C', 'Panel D')

In [17]:
df_perf_metr_LO_ARIMA_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
&nbsp;,**S&P 500**,7.52,19.58,56.78,1.65,38.43,5.09
&nbsp;,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case (Dropout = 0.075),4.32,**11.14**,28.95,**1.67**,38.79,5.79
**Panel A: Dropout Rate**,Dropout = 0.05,**6.88**,13.7,**26.63**,3.92,**50.25**,**12.99**
,Dropout = 0.1,4.72,13.5,37.99,3.66,34.99,4.35
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel B: Batch Size**,Base Case (Batch Size = 32),4.32,**11.14**,28.95,1.67,38.79,5.79
,Batch Size = 16,**5.53**,12.03,**27.83**,**1.54**,**45.92**,**9.11**
,Batch Size = 64,1.19,14.44,52.99,7.54,8.23,0.18
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_perf_metr_LS_ARIMA_LSTM

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case (Dropout = 0.075),**8.92**,**19.58**,**56.62**,**3.44**,**45.56**,**7.18**
**Panel C: Dropout Rate**,Dropout = 0.05,2.63,19.6,71.5,6.8,13.4,0.49
,Dropout = 0.1,-2.5,19.6,72.1,10.17,0.0,0.0
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Panel D: Batch Size**,Base Case (Batch Size = 32),**8.92**,**19.58**,**56.62**,**3.44**,**45.56**,**7.18**
,Batch Size = 16,-6.58,**19.58**,79.19,15.19,0.0,0.0
,Batch Size = 64,3.35,19.59,63.83,12.32,17.12,0.9
None,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_perf_metr_LO_ARIMA_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_ARIMA_LSTM.csv')
df_perf_metr_LS_ARIMA_LSTM.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_ARIMA_LSTM.csv')

# Sensitivity Analysis - ARIMA

In [20]:
STOCK_NAME = "S&P 500"

df_EC_ARIMA_LO_BM = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/{NAME}/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_BM = pd.read_csv(f'../ARIMA-LSTM/Results/S&P500/Sensitivity Analysis/{NAME}/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LO_SENS_0 = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LS_SENS_0 = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_0/Visualisations/df_EC_LS_MAIN.csv')

# df_EC_ARIMA_LO_SENS_0A = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LO_MAIN.csv')
# df_EC_ARIMA_LS_SENS_0A = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_0A/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LO_SENS_B = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_B/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_SENS_B = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_B/Visualisations/df_EC_LS_MAIN.csv')

df_EC_ARIMA_LO_SENS_C = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_C/Visualisations/df_EC_LO_MAIN.csv')
df_EC_ARIMA_LS_SENS_C = pd.read_csv(f'../ARIMA/Results/S&P500/Sensitivity Analysis/SENS_C/Visualisations/df_EC_LS_MAIN.csv')

In [21]:
df_perf_metr_LO_ARIMA = performance_metrics_SENS_ARIMA("**Long Only**", 
                                                      df_EC_ARIMA_LO_BM, 
                                                      df_EC_ARIMA_LO_BM, 
                                                    #   df_EC_ARIMA_LO_SENS_0,
                                                    #   df_EC_ARIMA_LO_SENS_0A,
                                                      df_EC_ARIMA_LO_SENS_B, 
                                                      df_EC_ARIMA_LO_SENS_C, 
                                                      STOCK_NAME_edited)

In [22]:
df_perf_metr_LS_ARIMA = performance_metrics_SENS_ARIMA_LS("**Long Short**", 
                                                      df_EC_ARIMA_LS_BM, 
                                                      df_EC_ARIMA_LS_BM, 
                                                    #   df_EC_ARIMA_LS_SENS_0,
                                                    #   df_EC_ARIMA_LS_SENS_0A,
                                                      df_EC_ARIMA_LS_SENS_B, 
                                                      df_EC_ARIMA_LS_SENS_C, 
                                                      STOCK_NAME_edited)

In [23]:
df_perf_metr_LO_ARIMA

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
,**S&P 500**,7.52,19.58,56.78,1.65,38.43,5.09
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN
**Long Only**,Base Case,**4.32**,**11.14**,**28.95**,**1.67**,**38.79**,**5.79**
,"Order Range = {0-3,1,0-3}",2.47,14.45,46.73,8.45,17.11,0.91
,Information Criterion = BIC,2.21,14.35,46.73,8.45,15.41,0.73
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_perf_metr_LS_ARIMA

,,ARC(%),ASD(%),MD(%),MLD,IR*(%),IR**(%)
**Long Short**,Base Case,8.92,19.58,56.62,**3.44**,45.56,7.18
,"Order Range = {0-3,1,0-3}",9.15,**19.57**,**56.24**,8.44,46.79,7.62
,Information Criterion = BIC,**9.52**,**19.57**,58.85,14.18,**48.62**,**7.86**
,&nbsp;,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_perf_metr_LO_ARIMA.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LO_ARIMA.csv')
df_perf_metr_LS_ARIMA.to_csv(f'./PERF_METR_RESULTS/{STOCK_NAME}/df_perf_metr_LS_ARIMA.csv')