In [1]:
from performance_metrics import *

# LONG ONLY

In [2]:
STOCK_1 = 'S&P500'
STOCK_2 = 'FTSE100'
STOCK_3 = 'CAC'

SENS = 'REAL_1'

In [3]:
df_EC_SnP_LO = pd.read_csv(f'../LSTM/Results/{STOCK_1}/Sensitivity Analysis/{SENS}/Visualisations/df_EC_LO_MAIN.csv').set_index('Date')
df_EC_FTSE_LO = pd.read_csv(f'../LSTM/Results/{STOCK_2}/Sensitivity Analysis/{SENS}/Visualisations/df_EC_LO_MAIN.csv').set_index('Date')
df_EC_CAC_LO = pd.read_csv(f'../LSTM/Results/{STOCK_3}/Sensitivity Analysis/{SENS}/Visualisations/df_EC_LO_MAIN.csv').set_index('Date')

In [4]:
start_date = '2005-01-25'
end_date = '2023-09-01'

In [5]:
refac_df_EC_SnP_LO = df_EC_SnP_LO[start_date:end_date][['Close', 'Predictions', 'position']]
refac_df_EC_FTSE_LO = df_EC_FTSE_LO[start_date:end_date][['Close', 'Predictions', 'position']]
refac_df_EC_CAC_LO = df_EC_CAC_LO[start_date:end_date][['Close', 'position']]

In [6]:
refac_df_EC_SnP_LO['Returns'] = refac_df_EC_SnP_LO['Close'].pct_change().dropna()
refac_df_EC_FTSE_LO['Returns'] = refac_df_EC_FTSE_LO['Close'].pct_change().dropna()
refac_df_EC_CAC_LO['Returns'] = refac_df_EC_CAC_LO['Close'].pct_change().dropna()

In [7]:
refac_df_EC_SnP_LO

                  Close  Predictions  position   Returns
Date
2005-01-25  1168.410034    1204.0775         1       NaN
2005-01-26  1174.069946    1201.2869         1  0.004844
2005-01-27  1174.550049    1199.0001         1  0.000409
2005-01-28  1171.359985    1197.6018         1 -0.002716
2005-01-31  1181.270020    1197.0659         1  0.008460
...                 ...          ...       ...       ...
2023-08-28  4433.310059    4436.5044         1  0.006265
2023-08-29  4497.629883    4433.5850         0  0.014508
2023-08-30  4514.870117    4432.3740         0  0.003833
2023-08-31  4507.660156    4433.5770         0 -0.001597
2023-09-01  4515.770020    4435.7860         0  0.001799

[4684 rows x 4 columns]